<!DOCTYPE html>
<html>
    <head>
        <title>
            Product Information
        </title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./productBase.css" />
    </head>
    <body>
        <div>
            Call Every API
            <form action="/product/search" method="GET">
                <label for="title">상품명 : </label>
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </div>
        <div>
            A000 : 11번가
            <form action="/product/search" method="GET">
                <label for="title">상품명 : </label>
                <input type="hidden" name="site" value="000" />
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </div>
        <div>
            A001 : 번개장터
            <form action="/product/search" method="GET">
                <label for="title">상품명 : </label>
                <input type="hidden" name="site" value="001" />
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </div>
        <div>
            A002 : 중고나라
            <form action="/product/search" method="GET">
                <label for="title">상품명 : </label>
                <input type="hidden" name="site" value="002" />
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </div>
        <div>
            A003 : 당근마켓
            <form action="/product/search" method="GET">
                <label for="title">상품명 : </label>
                <input type="hidden" name="site" value="003" />
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </div>
        <div>
            A004 : 셀잇
            <form action="/product/search" method="GET">
                <label for="title">상품명 : </label>
                <input type="hidden" name="site" value="004" />
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </div>
        <div>
            A005 : 헬로마켓
            <form action="/product/search" method="GET">
                <label for="title">상품명 : </label>
                <input type="hidden" name="site" value="005" />
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </div>
    </body>
</html>
