<!DOCTYPE html>
<html>
    <head>
        <title>
            Product Information
        </title>
        <meta charset="utf-8" />
        <script src='https://code.jquery.com/jquery-3.4.1.min.js' type="text/javascript"></script>
        <script src="./productBase.js" type="text/javascript"></script>
    </head>
    <body>
        <p> Call Every API
            <form action="/product/search" method="GET">
                <label for="title"><b>상품명 : </b></label>
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </p> 
         <p> A000 : 11번가
            <form action="/product/search?site=000&" method="GET">
                <label for="title"><b>상품명 : </b></label>
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </p> 
        <p> A001 : 번개장터
            <form action="/product/search?site=001&" method="GET">
                <label for="title"><b>상품명 : </b></label>
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </p> 
        <p> A002 : 중고나라
            <form action="/product/search?site=002&" method="GET">
                <label for="title"><b>상품명 : </b></label>
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </p>   
        <p> A003 : 당근마켓
            <form action="/product/search?site=003&" method="GET">
                <label for="title"><b>상품명 : </b></label>
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </p>   
        <p> A004 : 셀잇
            <form action="/product/search?site=004&" method="GET">
                <label for="title"><b>상품명 : </b></label>
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </p> 
        <p> A005 : 헬로마켓
            <form action="/product/search?site=005&" method="GET">
                <label for="title"><b>상품명 : </b></label>
                <input type="text" placeholder="상품명을 입력하세요" name="title" required />
                <button type="submit">입력</button>
            </form>
        </p>   
    </body>
</html>
