.productDetailImage{
    width: 400px;
    height: 400px;
    border: 1px solid lightgray;
}

.icon{
    content: "";
    width: 40px;
    height: 40px;
    align-items: center;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.Icon11st, .IconBeongae, .IconDanggeun, .IconDanggeun, .IconHelloMarket, .IconJoonggo, .IconSellit{
    border-radius: 50%;
}

.Icon11st{
    background-image: url('../static/11st.png');
}

.IconBeongae{
    background-image: url('../static/beongaeMarket.png');
}

.IconJoonggo{
    background-image: url('../static/joonggonara.png');
}

.IconDanggeun{
    background-image: url('../static/danggeunMarket.png');
}


.IconSellit{
    background-image: url('../static/sellit.png');
}

.IconHelloMarket{
    background-image: url('../static/helloMarket.jpg');
}

.IconMain{

    width: 150px;
    height: 150px;
    background-image: url('../static/main_logo.png');
}

.IconSearch{
    background-image: url('../static/search_logo.png');
}