.product-site {
  // overflow: hidden;
  padding: 10px;
  background: white;
  border: 1px solid #efefe1;
  box-shadow:-2px -2px 3px rgba(255,255,255,.2),
          3px 3px 3px rgba(0,0,0,.2);
  border-radius: 5px;
  margin: 30px;
  position: relative;
  .spinner {
    position: absolute;
    z-index: 2;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: none;
    align-items:center;
    justify-content: center;
    background-color: rgba(0,0,0,.3);
    & .loading {
      display: flex;
    }
  }
  .product-sitename {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 10px 0;
    padding: 0;
    &:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: cover;
      background-image: url("../static/correct.png");
      margin-right: 10px;
      vertical-align: middle;
      line-height: 40px;
      // line-height: 40px;
    }
  }
  .product-list {
    display:flex;
    .product-list-prev, 
    .product-list-next {
      display:flex;
      align-items:center;
      justify-content: center;
      cursor:pointer;
      width:50px;
      img {
        max-width:100%;
      }
    }
    .product-list-items {
      flex:1;
      display: block;
      overflow-x: scroll;
      overflow-y: hidden;
      word-wrap: normal;
      white-space: nowrap;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      background-color: cornsilk;
      position: relative;
      &::-webkit-scrollbar {
        display: none;
      }
      .product-list-spinning {
        display: inline-block;
        height: 250px;
        // background: cornflowerblue;
        margin-top: 0%;
      }
      .product-list-item {
        display: inline-block;
        margin: 10px;
        border: 1px solid #efefe1;
        border-radius: 3px;
        width: 250px;
        &:hover {
          transition: linear 0.15s;
          transform: scale(1.03);
        }
        .product-image {
          img {
            width: 100%;
          }
        }
        .product-name {
        }
        .product-price {
        }
      }
    }
  }
}
