.products-container{
    width:100%;
    max-width: 1000px;
    margin: 100px auto;
    float: right;
    margin-right: 100px;
}


.main-products-container{
    width: 1000px;
    margin: 80px auto;
}